anki==24.6.3
aqt==24.6.3
attrs>=24.1.0
beautifulsoup4>=4.12.3
blinker>=1.8.2
cachetools>=5.4.0
certifi>=2024.7.4
chardet>=5.2.0
charset-normalizer>=3.3.2
click>=8.1.7
decorator>=5.1.1
distro>=1.9.0
fire>=0.6.0
Flask>=3.0.3
Flask-Cors>=4.0.1
gobject>=0.1.0
google-api-core>=2.19.1
google-api-python-client>=2.139.0
google-auth>=2.32.0
google-auth-httplib2>=0.2.0
googleapis-common-protos>=1.63.2
httplib2>=0.22.0
idna>=3.7
itsdangerous>=2.2.0
Jinja2>=3.1.4
jsonschema>=4.23.0
jsonschema-specifications>=2023.12.1
Markdown>=3.6
MarkupSafe>=2.1.5
orjson>=3.10.6
pip-system-certs>=4.0
proto-plus>=1.24.0
protobuf>=5.27.3
pyasn1>=0.6.0
pyasn1_modules>=0.4.0
pyasstosrt>=1.4.0
pycairo>=1.26.1
pyfiglet>=1.0.2
PyGObject>=3.48.2
pyparsing>=3.1.2
PyQt5>=5.15.11
PyQt5-Qt5>=5.15.14
PyQt5_sip>=12.15.0
PyQtWebEngine>=5.15.7
PyQtWebEngine-Qt5>=5.15.14
pyrsistent>=0.20.0
PySocks>=1.7.1
pysrt>=1.1.2
referencing>=0.35.1
requests>=2.32.3
rpds-py>=0.19.1
rsa>=4.9
Send2Trash>=1.8.3
six>=1.16.0
soupsieve>=2.5
stringcase>=1.2.0
termcolor>=2.4.0
uritemplate>=4.1.1
urllib3>=2.2.2
waitress>=3.0.0
Werkzeug>=3.0.3
wrapt>=1.16.0
